@font-face {
  font-family: 'digital';
  src: url('./fonts/digital-7.ttf');
}

.App {
  text-align: center;
  width: 30rem;
  margin: auto;
  height: 50%;
  font-weight: bold;
}

.length {
  width: 50%;
  display: inline-block;
}

.length, #timer-label  {
  font-size: 1.5rem;
}

#time-left {
  font-family: 'digital';
  font-size: 4rem;
  font-weight: normal;
}

.buttons {
  margin-top: 2rem;
}